<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @number.index %>
</p>

<p>
  <strong>Value:</strong>
  <%= @number.value %>
</p>

<%= link_to 'Edit', edit_number_path(@number) %> |
<%= link_to 'Back', numbers_path %>
